{% if doc.travel_retirement %}
  {%- for basic_itinerary in doc.travel_retirement -%} 

    {%- if basic_itinerary.employee -%} 
          <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Traveler:</span>
                <span>{{basic_itinery.employee}}</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if basic_itinery.hotel else '' }}</span>,
                  <span>{{ 'Car Hire ' if basic_itinery.car_hire else '' }}</span>,
                  <span>{{ 'Flight ' if basic_itinery.flight else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{basic_itinery.departure_date}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{basic_itinery.traveling_from_departure}}</p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{basic_itinery.return_date}} </p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ basic_itinery.traveling_to_departure}}</p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
  {%- endfor -%} 
{% elif doc.travel_itinerary %}
   {%- for basic_itinerary in doc.travel_itinerary -%} 

    {%- if basic_itinerary.employee -%} 
      <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Traveler:</span>
                <span>{{basic_itinery.employee}}</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if basic_itinery.hotel else '' }}</span>,
                  <span>{{ 'Car Hire ' if basic_itinery.car_hire else '' }}</span>,
                  <span>{{ 'Flight ' if basic_itinery.flight else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{basic_itinery.departure_date}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{basic_itinery.traveling_from_departure}}</p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{basic_itinery.return_date}} </p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ basic_itinery.traveling_to_departure}}</p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
  {%- endfor -%}
{% endif %}


{% if doc.travel_itinerary_detailed_retirement %}
  {%- for detailed_itinery in doc.travel_itinerary_detailed_retirement -%} 

  <h3>Traveler: {{ detailed_itinery.employee }}</h3>
    {%- if detailed_itinery.departure_date1 -%} 
             <div class="item-container">
            <div class="main-heading">
              <div>
                <span>First Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel1 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire1 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight1 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure1}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure1}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date1}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to1}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date2 -%} 
          <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Second Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel2 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire2 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight2 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure2}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure2}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date2}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to2}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date3 -%} 
            <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Third Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel3 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire3 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight3 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure3}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure3}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date3}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to3}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date4 -%} 
            <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Third Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel4 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire4 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight4 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure4}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure4}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date4}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to4}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date5 -%} 
            <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Third Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel5 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire5 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight5 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure5}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure5}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date5}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to5}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
          <hr class="line-divider" />
  {%- endfor -%} 
  {% elif doc.travel_itinerary_detailed %}
    {%- for detailed_itinery in doc.travel_itinerary_detailed -%} 
    <h3>Traveler: {{ detailed_itinery.employee }}</h3>
          {%- if detailed_itinery.departure_date1 -%} 
             <div class="item-container">
            <div class="main-heading">
              <div>
                <span>First Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel1 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire1 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight1 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure1}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure1}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date1}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to1}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date2 -%} 
          <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Second Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel2 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire2 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight2 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure2}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure2}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date2}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to2}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date3 -%} 
            <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Third Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel3 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire3 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight3 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure3}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure3}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date3}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to3}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date4 -%} 
            <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Third Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel4 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire4 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight4 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure4}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure4}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date4}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to4}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
    {%- if detailed_itinery.departure_date5 -%} 
            <div class="item-container">
            <div class="main-heading">
              <div>
                <span>Third Trip</span>
              </div>
              <div>
                <span>Travel Requirements:</span>
                <span>{{ 'Hotel' if detailed_itinery.hotel5 else '' }}</span>,
                  <span>{{ 'Car Hire ' if detailed_itinery.car_hire5 else '' }}</span>,
                  <span>{{ 'Flight ' if detailed_itinery.flight5 else '' }}</span>
              </div>
            </div>
            <div class="item-container__body">
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Departure Date</p>
                  <p>{{detailed_itinery.traveling_from_departure5}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling From</p>
                  <p>{{detailed_itinery.traveling_from_departure5}} </p>
                </div>
              </div>
              <div class="item-container__row">
                <div>
                  <p class="sub-heading">Return Date</p>
                  <p>{{detailed_itinery.return_date5}}</p>
                </div>
                <div>
                  <p class="sub-heading">Traveling To</p>
                  <p>{{ detailed_itinery.traveling_to5}} </p>
                </div>
              </div>
            </div>
          </div>
    {%- endif -%} 
      <hr class="line-divider" />
    {%- endfor -%}
{% endif %}
